* text=auto eol=lf
*.php text eol=lf
*.js text eol=lf
*.css text eol=lf
*.md text eol=lf
*.txt text eol=lf

/.github export-ignore
/tests export-ignore
/tools export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/composer.json export-ignore
/phpcs.xml.dist export-ignore
/phpcs-compat.xml.dist export-ignore
/phpunit.xml.dist export-ignore
/README.md export-ignore
/SECURITY.md export-ignore
/CONTRIBUTING.md export-ignore
